{% extends 'base.html' %}
{% load static %}

{% block header_content %}

<a href="//github.com/Cloud-CV/diverse-beam-search" target="_blank"><img style="position: fixed; top: 0; right: 0; border: 0; z-index:2000;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<div class="container">
    <div class="page-header">
        <h1 align="center">Diverse Beam Search</h1>
        <br><h4>Diverse Beam Search, our proposed method to decode significantly different sequences from neural sequence models is used to generate captions for images. 
The captioning model is trained on COCO using the <a href="https://github.com/karpathy/neuraltalk2">neuraltalk2</a> repository. Code to setup this demo is available <a href="https://github.com/Cloud-CV/diverse-beam-search">here</a>.</h4>
        <font size="3">
            <p>
             Browsers currently supported by the demo: Google Chrome, Mozilla Firefox.
            </p>
        </font>
    </div>
</div>

{% endblock %}

{% block form %}
<style type="text/css">

  .caption {
    /*display: block;*/
    /*text-align: center;*/
    font-size: 18px !important;
    font-weight: bold;
}

#inputCaption, #predictedCaption{
    font-weight: bold;
}

.under
{
position:absolute;
/*left:0px;
top:0px;*/
z-index:-1;
}

.over
{
position:absolute;
/*left:40px;*/
/*top:10px;*/
z-index:0;
mix-blend-mode: multiply;
}

#gradCamCaption{
  position: relative;
  padding-top: 350px;
}

.finalImages{
  width: 350px !important;
  height: 350px !important;
  padding: 6px;
}

.resultText{
  margin-bottom: 15px !important;
}

#input_note{
  font-size: 12px;
}

#canvas{
  display: hidden;
}
.tree_container{
  background: white;
}
</style>

<div class="container">
  <div class="page-header">
    <h2 id="userImages">Try Diverse Beam Search On Your Images</h2>
  </div>

  <form id="my-dropzone" method="post" class="dropzone
  " action="{% url "upload" %}" enctype="multipart/form-data">
  <input type="hidden" id="appType" name="type" value="dbs">

  {% csrf_token %}

  {% include 'form.html' %}
  </form>

{% endblock %}

{% block result %}
<script type="text/javascript">
  // Overriden 
  var app = "neuraltalk2";
  Dropzone.options.myDropzone = {
    autoProcessQueue: true,
    uploadMultiple: false,
    maxFiles: 10,

    init: function() {
      var myDropzone = this;
      this.hiddenFileInput.removeAttribute('multiple');
      myDropzone.on('success', function(file, data){
        console.log(data);
        
        $("#inputImageAfterUpload").attr('src', data['file_path']);
        $("#image_folder").val(data['image_folder']);
        $("#ResultDiv").show();
        $("#ResultImage").hide();
        $("#demoType").val("uploadedImageType");
        $("#prefix").val("");
        $('#comments').prepend('<br>');
        $('#comments').prepend('<li>' + "Image uploaded successfully..." + '</li>');
        scrollToElement($("#termstart"));
        scrollToElement($("#ResultDiv"));
      });
    }
  }
</script>

<script type="text/javascript">


$(document).ready(function(){
  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);

  socket.onopen = function() {
      console.log("User connected to the socket with socketid "+ "{{socketid }}");
      socket.send("{{ socketid }}");
  }

  socket.onmessage = function(response) {
    console.log("Getting response from the worker.....");
    console.log(JSON.parse(response.data));

    response = JSON.parse(response.data);

    if ("info" in response){
      console.log("Info is there as the key");
    }

    if ("terminal" in response){

      $('#comments').prepend('<li>' + response['terminal'] + '</li>');
    }

    if("result" in response){

      result = response['result'];
      $("#resultHeading").show();
      $("#ResultImage").show();
      scrollToElement($("#ResultImage"));
      bsvis(result, "neuraltalk2");
      $('#comments').prepend('<br>');
    }
  }
});

  var getLocation = function(href) {
      var l = document.createElement("a");
      l.href = href;
      return l;
  };

function submitDemoImage(src){
  var img_path = getLocation(src).pathname;
  $("#inputImageAfterUpload").attr('src', img_path);
  $("#prefix").val("");
  $("#ResultImage").hide();
  $("#ResultDiv").show();
  $("#demoType").val("demoImage");
  $("#image_folder").val(img_path);
  scrollToElement($("#termstart"));
  $('#comments').prepend('<br>');
  $('#comments').prepend('<li>' + "Submitted demo image" + '</li>');
  scrollToElement($("#resultHeading"));
}

function submitImageForCaptioning () {
  var prefix = $("#prefix").val();
  var B = $("#B").val();
  var M = $("#M").val();
  var lamda = $("#lamda").val();
  if ((B == "") || (B < 1)) {
    B = 6;
  }
  if ((!M) || (M < 1)){
    M = 3;
  }
  if ((lamda == "") || (lamda <= 0)){
    lamda = 0.5;
  }

  var l = $("#inputImageAfterUpload")[0].src;
  var image_folder = $("#image_folder").val();
  console.log("IMAGE FOLDER IS " + image_folder);
  var demoType = $("#demoType").val();
  console.log(image_folder);
  $.ajax({
    type    : 'POST', // define the type of HTTP verb we want to use (POST for our form)
    url     : '{% url 'captioning' %}', // the url where we want to POST
    data    : { 'demoType': demoType,'image_folder': image_folder, 'csrfmiddlewaretoken': "{{ csrf_token }}", 'B': B, 'M': M, 'lamda': lamda, 'socketid': "{{ socketid }}"} // our data object
  })// using the done promise callback
  .done(function(response) {
    console.log("Ajax call completed successfully");
  });
}
</script>
<br>
  <div class="page-header">
    <h2 id="resultHeading" class="center">Result of Diverse Beam Search</h2>
  </div>
<div id="ResultDiv" class="row" style="padding-bottom:50px; display:None;">
  <div class="col-md-5" style="padding-bottom: 30px; clear: both;">
    <img class="img-responsive" src="" style="height: 300px;" id="inputImageAfterUpload">
  </div>
<!--   <div class="col-md-7" style="padding-bottom: 30px;">
    </div>
 -->      
      <div class="col-md-2">
        <label for="rg-from">B (#beams)</label>
        <input id="B" type="number" min="1" class="form-control" name="B" placeholder="(optional)"><br>
      </div>
      <div class="col-md-2">
        <label for="rg-from">G (#groups)</label>
        <select class="form-control" min="1" id="M" name="M" placeholder="Enter G...(optional)">
        </select>
      </div>
      <div class="col-md-2">
        <label for="rg-from">&#955; (#diversity strength)</label>
        <input id="lamda" type="number" class="form-control" name="lamda" placeholder="Enter &#955;...(optional)" ><br>
      </div>
    <!-- <input id="prefix" class="form-control" name="prefix" placeholder="Enter prefix text...(Optional)"><br> -->
    <input id="image_folder" name="image_folder" type="hidden">
    <input id="demoType" name="demoType" type="hidden">
    <div class="col-md-7">
      <p id="input_note">Note: More diverse lists can be obtained by increasing the number of groups (G) and the diversity strength &#955;.</p>
      <input type="button" value="Submit" onclick="submitImageForCaptioning()" class="btn btn-primary">
    </div>
</div>
</div>
<div id="ResultImage" class="container" style="padding-bottom:50px;">
</div>

{% endblock %}

{% block credits %}
<h2 class="page-header"> Credits </h2>
  <font size="4">
    <a href="https://github.com/karpathy/neuraltalk2">Code for Neuraltalk2</a><br>
    Built by <a href="http://github.com/DESHRAJ" target="_blank">@deshraj</a>
    <br><br>
  </font>
  <br>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="{% static 'js/vis.js'%}"></script>

<script type="text/javascript">

var chart = beam_search_vis()
            .width(window.innerWidth)
            .height(window.innerHeight - 200);

function bsvis(data, app) {
    var sel = d3.select("#ResultImage").selectAll("div")
                .data([deep_copy(data)]);
    sel.enter().append("div")
            .attr("class", "top-div");
    sel.exit().remove();
    sel.selectAll("*").remove();
    chart(sel, app);
    d3.select("#resetButton")
        .on("click", function() {
            bsvis(deep_copy(data), app);
        });
}

function deep_copy(obj) {
    var new_obj = jQuery.extend(true, {}, obj);
    return new_obj;
}

</script>

<script type="text/javascript">
  $("#B").change(function(){
    var B = $("#B").val();
    var factors = [];
    $('#M').empty();
    for (i = 1; i <= B; i++) {
        if (B % i == 0) {
          $('#M').append($('<option>', {
              value: i,
              text: i,
          }));            
        }
    }
  });
</script>
</html>
{% endblock %}
